.header {
  background-color: rgb(26, 98, 207);
  padding: 10px;
}

.form {
  max-width: 300px;
  background: #fff;
  border-radius: 5px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.button {
  background: transparent;
}

.searchIcon {
  width: 20px;
}

.input {
  margin-left: 10px;
  border: none;
  outline: none;
}
